.smaller {
  font-size: 0.85em;
}
.smallest {
  font-size: 0.55em;
}
.half {
  width: 70%;
}
iframe {
  border: 1px solid #aaa;
}
#cover {
  text-align: right;
}
#cover:after {
  opacity: 0;
}
#cover h2 {
  margin: 0;
  color: #fff;
  font-size: 80px;
  display: inline-block;
  max-width: 80%;
  text-align: center;
  text-shadow: 0 0 40px #000, 0 0 40px #000, 0 0 40px #000, 0 0 40px #000, 0 0 40px #000, 0 0 40px #000, 0 0 40px #000;
}
#cover p {
  margin: 300px 0 0;
  text-align: right;
  color: #fff;
  font-size: 24px;
  opacity: 0.75;
  line-height: 1.4;
  text-shadow: 0 0 20px #000, 0 0 20px #000, 0 0 20px #000, 0 0 20px #000, 0 0 20px #000;
}
#cover p a {
  color: #fff;
}
.cover img {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}
.cover h2 {
  color: #fff;
}
.cover.last h2 {
  margin-top: 200px;
  font-size: 150px;
  margin-left: 30px;
  text-shadow: 0 0 40px #000, 0 0 40px #000, 0 0 40px #000, 0 0 40px #000, 0 0 40px #000, 0 0 40px #000, 0 0 40px #000;
}
.cover p {
  text-shadow: 0 0 20px #000, 0 0 20px #000, 0 0 20px #000, 0 0 20px #000, 0 0 20px #000;
}
.img-full {
  text-align: center;
}
.img-full img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -25%;
}
.end-link {
  bottom: 10%;
  position: absolute;
  width: 100%;
  padding: 0 35px;
  font-size: 24px;
  line-height: 1.8;
  color: #aaa;
}
.end-link a {
  color: #fff;
}
.bigger {
  font-size: 53px;
}
.logo {
  width: 150px;
  background-color: #fff;
  padding: 10px;
  margin-top: 150px;
}
.logo + .logo {
  margin-left: 50px;
}
.warning {
  width: 200px;
  height: 40px;
  position: absolute;
  top: 105px;
  right: 200px;
  border: 3px solid #f00;
}
.bottom {
  position: absolute;
  bottom: 20px;
  left: 450px;
}
