.smaller
    font-size .85em
.smallest
    font-size 0.55em
    
iframe
    border 1px solid #aaa

#cover
    &:after
        opacity 0
    h2
        margin:0;
        color:#FFF;
        text-align:left;
        font-size:48px;
        display:inline-block;
        max-width: 70%;
    p
        margin:250px 0 0;
        text-align:left;
        color:#FFF;
        font-size: 24px
        opacity 0.75
        line-height: 1.4
        a
            color:#FFF;
            
.cover
    img
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;   
    h2
        color: #FFF;     
        
.img-full
    text-align center
    img
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left -25%
    
        
.end-link
    bottom: 10%
    position: absolute
    width: 100%
    padding: 0 35px
    font-size: 24px
    line-height: 1.8
    color: #aaa
    a
        color: #fff
.bigger
    font-size: 53px
    
.logo
    width 150px
    background-color: #fff
    padding: 10px
    margin-top: 50px
    & + &
        margin-left 50px