include ./blocks/slide.jade
include ./blocks/cover.jade
include ./blocks/quote.jade
include ./blocks/frame.jade

- var title = "И вот я - верстальщик. Что&nbsp;дальше?"

doctype html
html(lang='ru')
  head
    title !{title}
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='shower/themes/ribbon/styles/screen-16x10.css')
    link(rel='stylesheet', href='theme.css')
    link(rel='stylesheet', href='slides.css')
  body.shower.list
    header.caption
      h1 !{title}
    +slide({name: 'cover', header: title, classes:'cover'})
      p Александра Шинкевич (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      +cover('pictures/cover.jpg')
    +slide({header: "Кто я?", classes: "label-header white"})
      ul
        li Глава отдела фронтенда, LOVATA
        li Full-stack MEAN разработчик
      p
        img.logo(src="pictures/minskcss.png")
        img.logo(src="pictures/minskjs.png")
        img.logo(src="pictures/css-minsk-js.svg")
      +cover('pictures/about-cover.jpg')
    +slide({header: "Есть верстальщики-новички?", classes: "label-header"})
      +cover('pictures/deadline.jpg')
    +slide({header: "Мир розовых пони", classes: "label-header"})
    +slide({header: "Мир самонадеянных интровертов", classes: "label-header"})
    +slide({header: "Глава 1. Тыжпрограммист", shout: true, classes: "label-header"})
    +slide({header: "Глава 1.1 Верстка", classes: "label-header"})
      p http://krekotun.ru/ui-developer-skills/
    +slide({header: "Глава 1.2 Фронтенд-разработчик", classes: "label-header"})
      p https://habrahabr.ru/company/netologyru/blog/328426/
    +slide({header: "Глава 1.3 Истина где-то рядом", classes: "label-header"})
      ul
        li Другие языки программирования, подходы и парадигмы
        li Мобильная/нативная разработка
        li Ops/DevOps
        li Железо и IoT
        li Дизайн и UX, фото и видео
        li BA и QA
        li Менеджмент и управление проектами
    +slide({header: "Глава 2. Профессиональная этика", shout: true, classes: "label-header"})
    +slide({header: "Вы несете ответственность за тот код, который вы пишите", classes: "label-header"})
      ul
        li Цена ошибки
        li Тестирование и самопроверки
    +slide({header: "За ваш карьеру отвечаете вы сами", classes: "label-header"})
      ul
        li Непрерывное обучение - регулярность
        li Тренировки (40+20)
        li Роадмап - будьте последовательны
    +slide({header: "Возьмите время под контроль", classes: "label-header"})
      ul
        li Трекайте время
        li Делайте анализ
        li Перестаньте системно перерабатывать
    +slide({header: "Качайте soft skills", classes: "label-header"})
      ul
        li Книга "Soft skills"
        li Не будьте м****ом (https://t.me/some_pm_ghost/52)
        li Выходите из зоны комфорта
        li Будьте видимым
    +slide({header: "Глава 3. Здоровье и все остальное", classes: "label-header"})
      ul
        li Займитесь своим здоровьем
        li Будьте активным
        li Ищите вдохновение
        li Уделяйте время своим хобби
        li Общайтесь с людьми и смотрите на мир
    +slide({header: "Ссылки на тему", classes: "label-header"})
      ul
        li https://wsd.events/2017/11/04/pres/youth-front/
        li https://bespoyasov.ru/front-not-pain/#preface
    +slide({name: 'theend', header: "Вопросы?", shout: true, classes: 'cover label-header'})
      p.end-link
        a.bigger(href="http://bit.ly/MinskCSS-ETA" target="_blank") bit.ly/MinskCSS-ETA
        br
        | Александра Шинкевич (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      +cover('pictures/blur-cover.jpg')

    .progress
    script(src='shower/shower.min.js')
